{# empty Twig template #}
{% extends '_TEMPLATE.html.twig' %}
    {% block contenu %}
        <H1>IDENTIFICATION</H1>
            <form method="POST" action="front_controller.php?action=login_post">
            <label>Identifiant</LABEL>
                <input name="login"/>
                <br>
            <LABEL>Mot de passe</LABEL>
                <INPUT type="password" name="mdp"/>
                <br>
                <INPUT type="submit" value="login"/>
            </form>
    {% endblock %}